<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>words</key>
	<dict>
		<key>0</key>
		<string>音楽</string>
		<key>1</key>
		<string>録音機</string>
		<key>2</key>
		<string>ボトル</string>
		<key>3</key>
		<string>本</string>
		<key>4</key>
		<string>メガネ</string>
		<key>5</key>
		<string>鍵</string>
		<key>6</key>
		<string>デバイス</string>
		<key>7</key>
		<string>植物</string>
		<key>8</key>
		<string>メモ</string>
		<key>9</key>
		<string>日記</string>
		<key>10</key>
		<string>写真</string>
		<key>11</key>
		<string>服</string>
		<key>12</key>
		<string>時計</string>
		<key>13</key>
		<string>ペン</string>
		<key>14</key>
		<string>ポット</string>
		<key>15</key>
		<string>SNS</string>
		<key>16</key>
		<string>パズル</string>
		<key>17</key>
		<string>傘</string>
		<key>18</key>
		<string>ビル</string>
		<key>19</key>
		<string>積み木</string>
		<key>20</key>
		<string>家</string>
		<key>21</key>
		<string>灰皿</string>
		<key>22</key>
		<string>イヤホン</string>
		<key>23</key>
		<string>充電器</string>
		<key>24</key>
		<string>冷房機</string>
		<key>25</key>
		<string>エコ</string>
		<key>26</key>
		<string>フォーク</string>
		<key>27</key>
		<string>コンセント</string>
		<key>28</key>
		<string>化粧品</string>
		<key>29</key>
		<string>コーヒー</string>
		<key>30</key>
		<string>シャツ</string>
		<key>31</key>
		<string>コップ</string>
		<key>32</key>
		<string>靴</string>
		<key>33</key>
		<string>ノート</string>
		<key>34</key>
		<string>広告</string>
		<key>35</key>
		<string>勉強</string>
		<key>36</key>
		<string>教育</string>
		<key>37</key>
		<string>棚</string>
		<key>38</key>
		<string>木</string>
		<key>39</key>
		<string>アクセサリー</string>
		<key>40</key>
		<string>英語</string>
		<key>41</key>
		<string>海外</string>
		<key>42</key>
		<string>国</string>
		<key>43</key>
		<string>パソコン</string>
		<key>44</key>
		<string>動画</string>
		<key>45</key>
		<string>映画</string>
		<key>46</key>
		<string>お金</string>
		<key>47</key>
		<string>貯金</string>
		<key>48</key>
		<string>ストレス</string>
		<key>49</key>
		<string>マッチング</string>
		<key>50</key>
		<string>金融</string>
		<key>51</key>
		<string>食べ物</string>
		<key>52</key>
		<string>買い物</string>
		<key>53</key>
		<string>クシ</string>
		<key>54</key>
		<string>動物</string>
		<key>55</key>
		<string>物流</string>
		<key>56</key>
		<string>入れ物</string>
		<key>57</key>
		<string>アプリ</string>
		<key>58</key>
		<string>リュック</string>
		<key>59</key>
		<string>バッグ</string>
		<key>60</key>
		<string>窓</string>
		<key>61</key>
		<string>ドア</string>
		<key>62</key>
		<string>政治</string>
		<key>63</key>
		<string>ニュース</string>
		<key>64</key>
		<string>歴史</string>
		<key>65</key>
		<string>プログラミング</string>
		<key>66</key>
		<string>アイデア</string>
		<key>67</key>
		<string>テレビ</string>
		<key>68</key>
		<string>ライト</string>
		<key>69</key>
		<string>自動車</string>
		<key>70</key>
		<string>オークション</string>
		<key>71</key>
		<string>旅行</string>
		<key>72</key>
		<string>交通</string>
		<key>73</key>
		<string>占い</string>
		<key>74</key>
		<string>スポーツ</string>
		<key>75</key>
		<string>グラフ</string>
		<key>76</key>
		<string>プレゼンテーション</string>
		<key>77</key>
		<string>ホワイトボード</string>
		<key>78</key>
		<string>学校</string>
		<key>79</key>
		<string>地図</string>
		<key>80</key>
		<string>辞書</string>
		<key>81</key>
		<string>単語</string>
		<key>82</key>
		<string>楽器</string>
		<key>83</key>
		<string>共有</string>
		<key>84</key>
		<string>メッセージ</string>
		<key>85</key>
		<string>オンライン</string>
		<key>86</key>
		<string>睡眠</string>
		<key>87</key>
		<string>ヨガ</string>
		<key>88</key>
		<string>GPS</string>
		<key>89</key>
		<string>アニメ</string>
		<key>90</key>
		<string>雑誌</string>
		<key>91</key>
		<string>キーホルダー</string>
		<key>92</key>
		<string>財布</string>
		<key>93</key>
		<string>ゲーム</string>
		<key>94</key>
		<string>観光地</string>
		<key>95</key>
		<string>天気</string>
		<key>96</key>
		<string>計算機</string>
		<key>97</key>
		<string>美容</string>
		<key>98</key>
		<string>ラジオ</string>
		<key>99</key>
		<string>出会い</string>
		<key>100</key>
		<string>カレンダー</string>
	</dict>
</dict>
</plist>
