<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>myApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5A0CDF1B1C731EDA008DA29C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A0CDF321C731EDA008DA29C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A0CDF3D1C731EDA008DA29C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
